html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
	/*background-image: url(images/background-image.jpg); */
	display: -moz-box;
	display: -webkit-box;
	display: box;

	-moz-box-orient: horizontal;
	-webkit-box-orient:horizontal;
	box-orient:horizontal;

	-moz-box-pack:center;
	-moz-box-align:center;

	-webkit-box-pack:center;
	-webkit-box-align:center;

	box-pack:center;
	box-align:center;
}

.birthday_cardbox{
	background:#e3e3e3;
	border:2px dashed #ccc;
	width: 500px;
	height: 300px;
	margin: auto;
	cursor: pointer;
	position: relative;

	-webkit-transition:all 2s;
	-moz-transition:all 2s;
	transition:all 2s;
}
.birthday_cardbox::after{
	content: '';
	position: absolute;
	width:70%;
	height: 10px;
	bottom: 0;
	left: 15%;
	z-index: -2;

	-webkit-box-shadow:0 9px 20px rgba(0,0,0,.6);
	-moz-box-shadow:0 9px 20px rgba(0,0,0,.6);
	box-shadow:0 9px 20px rgba(0,0,0,.6);
}
.birthday_cardbox > div{
	background:#e3e3e3;
	position: absolute;
	height: 100%;
    width: 100%;
	top: 0;
	left: 0;
	font:45px/40px bold;
	text-align: center;

	-webkit-transition:all .5s ease-in;
	-moz-transition:all .5s ease-in;
	transition:all .5s ease-in;
} 
/* displays the welcome_text first */
.birthday_cardbox > div:first-child {
	/*position: relative; */
	z-index: 2;

}
.birthday_cardbox:hover{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.birthday_cardbox:hover >div:first-child{
	opacity: 0;
}
.birthday_cardbox:hover >div:last-child{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
#wishes_text {
	font-size: 20px;
}
footer{
	padding: 10px;
	text-align: center; 
}